# ===== OS =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

# ===== Environment =====
.env
.env.local

# ===== Editor =====
.vscode/
.idea/

# ===== Node =====
node_modules/
dist/
build/

# ===== PHP =====
/vendor/

# ===== Temporary =====
tmp/
.cache/
